@import "header.scss";
@import "container.scss";
@import "footer.scss";
@import "mediaqueries.scss";

body {
  margin: 0;
  padding: 0;
  background-color: #394053;
  font-family: "Cute Font", cursive;
  color: white;
}
